<h1>App Component cua toi</h1>
<!-- <h2>Lesson 1</h2>
<p>
  Text normal
</p>
<div>
  <button (click)="isBlackTheme = !isBlackTheme">Change theme</button>
</div>
<div class="theme" [class.black-theme]="isBlackTheme"
  [style.border]="isBlackTheme ? '1px solid red' : ''">
  <ptt-user-info></ptt-user-info>
</div>

<div class="theme" [ngClass]="myClasses()"
  [ngStyle]="myStyles()">
  <ptt-user-info></ptt-user-info>
</div>

<ptt-product [product-name]="pdName"></ptt-product>

<h2 [attr.aria-label]="'Lesson 2'">Lesson 2</h2>

<ptt-blog></ptt-blog>

<div>
  <button mat-raised-button color="primary">Primary</button>
</div> -->

<!-- Pipe -->
<!-- <ptt-pipe-lesson></ptt-pipe-lesson> -->

<!-- <ptt-template-content>
    <ptt-content-block [isShow]="false">
        <span class="title">hfhfhgfhgfhgf</span>
        <div>abc</div>
      </ptt-content-block>
</ptt-template-content> -->
<p>
  tab1
</p>
<ptt-tabs></ptt-tabs>

<p>
  tab2
</p>
<ptt-tabs></ptt-tabs>

<p>
  app
</p>
<div>
  <ul>
    <li *ngFor="let item of list">
      {{item}}
    </li>
  </ul>
</div>
<button (click)="service.length = 20">Update</button>
<p>DataService length: {{service.length}}</p>

<p>
  Tap-di
</p>

<ptt-tap-di></ptt-tap-di>
