<p>
  <mat-form-field>
    <input #inp matInput placeholder="Input">
  </mat-form-field>
</p>

<div>
  <button mat-raised-button color="primary"
    (click)="inputValue = inp.value"
    >Update</button>
</div>

<p>
  Value: {{inputValue}}
</p>

<div>
  <button mat-raised-button color="warn"
    (click)="ctb.toggleBody()"
    >Toggle body</button>
</div>

<ptt-content-block #ctb="pttCtBl">
  <div class="title">
    Lorem ipsum dolor sit amet.
  </div>
  <div>123</div>
</ptt-content-block>

<div>
  ahihi
  <div>
    <ng-content></ng-content>
  </div>
</div>
